/* === SECTION 1 Slider=== */
.hero-posts {
  background-image: url(/images/Greeksalad-background.jpg);
  transition: background-image 1s ease, opacity 1s ease;
  background-size: cover;
  background-position: center;
}
.hero-posts.bg-slide2 {
  background-image: url(/images/Tiramisu-background.jpg);
}
.hero-posts.bg-slide3 {
  background-image: url(/images/Irishstew-background.jpg);
}
.hero-posts.bg-slide4 {
  background-image: url(/images/Puffpinwheels-background.jpg);
}
.hero-posts.bg-slide5 {
  background-image: url(/images/Japanesestew-background.jpg);
}
.hero-posts.bg-slide6 {
  background-image: url(/images/Smoothie-background.jpg);
}
.hero-posts.bg-slide7 {
  background-image: url(/images/Frozenyogurt-background.jpg);
}
h2 {
  padding-top: 20px;
}
.slider-container {
  position: relative;
  perspective: 1000px;
}

.slider {
  width: 1200px;
  height: 600px;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
}

.slider .slide {
  position: absolute;
  width: 240px;
  height: 240px;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%) rotateY(0deg) translateZ(0px);
  backface-visibility: hidden;
  opacity: 0.75;
  transition: transform 1s, opacity 1s;
  padding: 0;
}

.slider .slide img {
  width: 100%;
  height: 100%;
}

.slider .slide.active {
  transform: translate(-50%, -50%) rotateY(0deg) translateZ(250px);
  opacity: 1;
}

.h3-slider {
  min-height: 65px;
  padding-top: 8px;
  font-size: var(--footer-font-size);
  background-color: var(--section-bg-color);
  color: var(--main-color);
}
.slider a:hover > .h3-slider,
.content-container:hover {
  background-color: var(--hover-bg-color);
  color: var(--button-anchor-color);
}
.content-container {
  padding: 10px;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3rem;
  background: var(--body-bg-color);
  color: var(--main-color);
  cursor: pointer;
  z-index: 10;
  padding: 5px 15px;
  background: none;
}

.left {
  left: 15%;
}

.right {
  right: 15%;
}
/* === SECTION 2 POSTS=== */

.select-container,
select {
  background-color: var(--body-bg-color);
  color: var(--main-color);
  font-size: var(--base-font-size);
  font-weight: var(--body-font-weight-bold);
}
select {
  width: 150px;
}
.select-container {
  padding: 10px;
  margin: 10px;
}
.posts {
  flex-wrap: wrap;
}
.post {
  padding: 25px;
}
.a-post {
  position: relative;
}
.a-post img {
  box-shadow: none;
}
.a-post::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 24%;
  left: 0;
  z-index: 1;
}
.a-post::before,
.a-post .h3-post {
  transition: background-color 0.3s ease, color 0.3s ease;
}
.a-post:hover::before {
  background-color: var(--section-bg-color);
}
.a-post:hover .h3-post {
  background-color: var(--hover-bg-color);
  color: var(--button-anchor-color);
}
.a-post:hover .hover-content {
  display: block;
}
.h3-post {
  background-color: var(--section-bg-color);
  padding: 10px 5px;
  max-width: 264px;
  min-height: 86.72px;
}
/*HOVER CONTENT POST*/
.hover-content {
  position: absolute;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  z-index: 2;
  display: none;
  padding: 10px;
}

.cta-layout {
  font-size: var(--base-font-size);
  padding: 15px;
  margin-top: 25px;
  width: 100%;
  max-width: 225px;
}

/*FOOTER*/
footer {
  margin-top: 100px;
}
