/* === Section 1 === */
.content-container,
figure img {
  max-height: 700px;
}
.hero-hr {
  width: 200px;
  margin-bottom: 10px;
}
.ingredient-list li {
  margin: 15px 0;
  font-size: var(--h3-font-size); /*Not Header Font-size!*/
}
/* === Section 2 === */
/*50/50 Left*/
.section2-container {
  background-color: var(--body-bg-color);
  max-height: none;
}
/*Section 2 and 3*/
.section2-container,
.simular-h2-container {
  padding: 0 75px;
}
.dish {
  margin-left: 10px;
}
.how-to-hr-left {
  width: 500px;
}
.steps-list {
  counter-reset: step-counter;
}

.steps-list li {
  counter-increment: step-counter;
  position: relative;
  padding-left: 50px;
  margin-bottom: 50px;
}

.steps-list li::before {
  content: counter(step-counter);
  position: absolute;
  left: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  background-color: var(--button-anchor-bg-color);
  color: var(--button-anchor-color);
}
/*50/50 Left & Right*/
.how-to-hr-left,
.how-to-hr-right {
  margin-bottom: 30px;
}
/*50/50 Right*/
.container-notes {
  line-height: 35px;
}
.how-to-hr-right {
  width: 200px;
}
.fa-heart {
  margin-left: 5px;
}
/* === Section 3 === */
.simular-hr {
  max-width: 300px;
}
.posts {
  flex-wrap: wrap;
}
.post {
  padding: 22px;
}
.a-post {
  position: relative;
}
.a-post img {
  box-shadow: none;
  width: 400px;
  height: 400px;
}
.a-post::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 17.5%;
  left: 0;
  z-index: 1;
}
.a-post::before,
.a-post .h3-post {
  transition: background-color 0.3s ease, color 0.3s ease;
}
.a-post:hover::before {
  background-color: var(--section-bg-color);
}
.a-post:hover .h3-post {
  background-color: var(--hover-bg-color);
  color: var(--button-anchor-color);
}
.a-post:hover .hover-content {
  display: block;
}
.h3-post {
  background-color: var(--section-bg-color);
  padding: 10px 5px;
  max-width: 400px;
  min-height: 86.72px;
}
/*HOVER CONTENT POST*/
.hover-content {
  position: absolute;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  z-index: 2;
  display: none;
  padding: 10px;
  line-height: 40px;
}
.fa-heart {
  margin-left: 5px;
}

/* === MEDIA QUERIES === */
/*MQ max 1332px*/
@media (max-width: 1332px) {
  /*Section 3*/
  .posts {
    justify-content: space-around;
  }
  .post {
    padding: 10px;
  }
  .a-post img {
    width: 325px;
    height: 325px;
  }
  .a-post::before {
    bottom: 21%;
  }
}
/*MQ max 1059px*/
@media (max-width: 1059px) {
  /*Section 1*/
  .hero-posts {
    text-align: center;
  }
  .content-container {
    max-height: none;
  }
  .content-img img {
    object-position: center;
    max-height: 500px;
  }
  .hero-hr {
    margin: 0 auto;
    width: 40%;
  }
  /*Section 2*/
  .content-text {
    padding: 25px 1px;
  }
  /*Section 3*/
  .simular-container {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .simular-h2-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .simular-container h2 {
    text-align: center;
    padding-top: 50px;
  }
  .simular-hr {
    width: 600px;
  }
  .a-post img {
    width: 300px;
    height: 300px;
  }
  .a-post::before {
    bottom: 22%;
  }
  .hover-content {
    line-height: 30px;
  }
}
/*MQ max 960px*/
@media (max-width: 960px) {
    /*Section 3*/
  .post {
    flex: 0 0 100%;
  }
}
/*MQ max 744px*/
@media (max-width: 744px) {
  /*Section 1*/
  .hero-hr {
    width: 60%;
  }
  /*Section 1 and 2*/
  .ingredient-list li,
  .section2-container {
    padding: 0 25px;
  }
  /*Section 2*/
  .how-to-hr-left,
  .how-to-hr-right {
    width: 100%;
  }
  /*Section 3*/
  .simular-h2-container {
    padding: 25px;
  }
  .simular-hr {
    width: 250px;
  }
}
