/* HERO */
.hero-img {
  max-height: 500px;
  object-position: center;
}
/* === SECTION 1 Thank you=== */
.header-sub-text {
  width: 50%;
  margin-bottom: 25px;
}
/*HR*/
hr {
  margin: 20px 0 30px;
  max-width: 200px;
}
strong {
    border-bottom: 1px solid var(--main-color);
  }
  .bot-text {
    margin: 50px 0 80px;
  }
  /* === FOOTER=== */
footer {
  margin-top: 0;
}

/* === MEDIA QUERIES === */
@media (max-width: 1059px) {
  .header-sub-text {
    width: 60%;
  }
}
@media (max-width: 744px) {
  .header-sub-text {
    width: 90%;
  }
}
